
JS/segunApi/.editorconfig
JS/segunApi/.env.example
JS/segunApi/.gitattributes
JS/segunApi/app/Console/Kernel.php
JS/segunApi/app/Exceptions/Handler.php
JS/segunApi/app/Http/Controllers/BikesController.php
JS/segunApi/app/Http/Controllers/ComponentController.php
JS/segunApi/app/Http/Controllers/Controller.php
JS/segunApi/app/Http/Controllers/UserController.php
JS/segunApi/app/Http/Kernel.php
JS/segunApi/app/Http/Middleware/EncryptCookies.php
JS/segunApi/app/Http/Middleware/Authenticate.php
JS/segunApi/vite.config.js
JS/segunApi/tests/Unit/ExampleTest.php
JS/segunApi/tests/TestCase.php
JS/segunApi/tests/Feature/ExampleTest.php
JS/segunApi/tests/CreatesApplication.php
JS/segunApi/routes/web.php
JS/segunApi/routes/HTML-CSS-LIM.code-workspace
JS/segunApi/routes/console.php
JS/segunApi/routes/channels.php
JS/segunApi/routes/api.php
JS/segunApi/resources/views/welcome.blade.php
JS/segunApi/resources/js/bootstrap.js
JS/segunApi/resources/js/app.js
JS/segunApi/resources/css/app.css
JS/segunApi/README.md
JS/segunApi/public/robots.txt
JS/segunApi/public/index.php
JS/segunApi/public/favicon.ico
JS/segunApi/public/.htaccess
JS/segunApi/phpunit.xml
JS/segunApi/package.json
JS/segunApi/database/seeders/DatabaseSeeder.php
JS/segunApi/database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
JS/segunApi/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
JS/segunApi/database/migrations/2014_10_12_100000_create_password_reset_tokens_table.php
JS/segunApi/database/factories/UserFactory.php
JS/segunApi/database/migrations/2014_10_12_000000_create_users_table.php
JS/segunApi/config/view.php
JS/segunApi/config/session.php
JS/segunApi/config/services.php
JS/segunApi/config/sanctum.php
JS/segunApi/config/queue.php
JS/segunApi/config/mail.php
JS/segunApi/config/logging.php
JS/segunApi/config/hashing.php
JS/segunApi/config/filesystems.php
JS/segunApi/config/database.php
JS/segunApi/config/cors.php
JS/segunApi/config/cache.php
JS/segunApi/config/broadcasting.php
JS/segunApi/config/auth.php
JS/segunApi/config/app.php
JS/segunApi/composer.lock
JS/segunApi/composer.json
JS/segunApi/bootstrap/app.php
JS/segunApi/artisan
JS/segunApi/app/Providers/RouteServiceProvider.php
JS/segunApi/app/Providers/EventServiceProvider.php
JS/segunApi/app/Providers/BroadcastServiceProvider.php
JS/segunApi/app/Providers/AuthServiceProvider.php
JS/segunApi/app/Providers/AppServiceProvider.php
JS/segunApi/app/Models/User.php
JS/segunApi/app/Http/Middleware/VerifySecretParametrer.php
JS/segunApi/app/Http/Middleware/VerifyCsrfToken.php
JS/segunApi/app/Http/Middleware/PreventRequestsDuringMaintenance.php
JS/segunApi/app/Http/Middleware/ValidateSignature.php
JS/segunApi/app/Http/Middleware/TrustProxies.php
JS/segunApi/app/Http/Middleware/TrustHosts.php
JS/segunApi/app/Http/Middleware/TrimStrings.php
JS/segunApi/app/Http/Middleware/RedirectIfAuthenticated.php
